In [3]:
A<-c(1,2,3)
B<-c(4,5,6)
M<-rbind(A,B)
M

  [,1] [,2] [,3]
A 1    2    3
B 4    5    6

In [7]:
mat<-matrix(1:9, nrow=3, ncol=3)
mat

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [9]:
is.matrix(mat)

[1] TRUE

In [14]:
mat2<-matrix(1:25, ncol=5, byrow=TRUE)
mat2

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20
[5,] 21   22   23   24   25

In [15]:
mat2[4:5,4:5]

     [,1] [,2]
[1,] 19   20
[2,] 24   25

In [17]:
sum(mat2)

[1] 325

In [22]:
matrix(runif(20, max=100), nrow=4, ncol=5)

     [,1]     [,2]     [,3]      [,4]     [,5]
[1,] 87.40251 62.57117 39.108363 24.74567 84.59931
[2,] 63.99687 67.48527  5.775432 54.57191 51.17539
[3,] 51.60303 36.45000 12.247733 78.01844 86.31001
[4,] 71.92262 76.37376 62.369858 18.08757 21.05781